# Ignore all .env files
**/.env

# Ignore service account credentials
**/firebase-service-account.json

# Ignore zipped files
*.zip

# Node modules
node_modules/

# Ignore Firebase / GCP keys
/backend/serviceAccountKey.json


# Node.js / React / JavaScript
node_modules/
build/
.env

# service account keys
LearnSpace_IIITA/backend/serviceAccountKey.json
